.container {
    height:550px;
    width:1180px;
    margin:20px 80px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    overflow: hidden;
}

.item {
    height:100px;
    width:300px;
    margin:40px 35px;    
}

.logo-sec {
    height:50px;
    margin:60px;
}

.logo-1 {
    height:50px;
    margin: 60px 86px;
}

.description-5 {
    margin:-30px  38px;
    font-weight:bold;  
}

.description {
    margin:-30px 38px 0px 38px;
    font-weight:bold;
}

.description-1 {
    margin:20px 45px 0px 45px;
}

.description-2 {
    margin:5px 40px;
}

.description-3 {
    margin:-30px 60px;
    font-weight:bold; 
}

.decription-4 {
    margin:15px 25px;  
}

.description-6 {
    margin:-30px 35px 0px 78px;  
    font-weight:bold;
}

.description-7 {
    margin: 4px 35px 0px 25px; 
}

.description-8{
    margin: 0 35px 0px 21px;
    margin-left: 2%;
}

.contact-links{
    text-decoration: none;
    color: #205781;
    transition: color 0.3s ease-in-out;    
}

.contact-links:hover{
    color: #ff0000;
}

@media (max-width: 480px) {
    .container {
        width: 100%;
        height: auto;
        margin: 10px;
        flex-direction: column;
        align-items: center;
    }

    .item {
        width: 90%;
        height: auto;
        margin: 40px 0;
    }

    .logo-sec {
        height: 40px;
        margin: 30px auto;
    }

    .logo-1 {
        height: 40px;
        margin: 30px auto;
    }

    .description,
    .description-1,
    .description-2,
    .description-3,
    .description-4,
    .description-5,
    .description-6,
    .description-7 {
        margin: 10px auto;
        text-align: center;
    }

    .description-8{
        text-align: center;
        margin-left: 5%;
    }

    .logo-sec  {
        height: 40px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }

    .logo-1{
        height: 40px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }

    .contact-links {
        font-size: 14px;
    }
}
