.container {
    height:550px;
    width:1180px;
    
    margin:20px 80px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
}
.item {
    height:100px;
    width:300px;
    margin:40px 40px;
    
}
.logo {
    height:50px;
    margin:60px;
}
.description {
    margin:-30px 38px;
    font-weight:bold;
}
.description-1 {
    margin:20px 45px 0px 45px;

}
.description-2 {
    margin:5px 35px;
}