
/* 1=#205781
2=#4F959D
3=98D2C0
*/.contanor{
    flex-direction: column;
    display: flex;
    display: inline-block;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
  
}
.contanor1{
    flex-direction: row;
    display: flex;
    display: inline-block;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
  
}
.card{
    background-color: #262727;
    width: 320px;
    border: 5px solid black;
    border-radius: 5%;
    text-align: center;
    display: flex;
    padding: 2% 3%;
    display: flex;
    flex-wrap: wrap;
}
.card:hover{
    border: 5px solid #4F959D;
    box-shadow: 1px 1px 15px 0 #4F959D;
   
}
.img{
    width: 290px;
    height: 200px;
    border: 3px solid black;
    margin-bottom: 3%;
    border-radius: 5%;
}
.img:hover {
    box-shadow: 1px 1px 15px 0 #4F959D;
    border-color: #4F959D;
    transform: scale(1.2);
    margin-bottom: 20px;
    width: 300px;
    border-radius: 15%;
}
.text{
    display: block;
    width: 280px;
    text-align: justify;
    color: black;
}
.butt{
    background: rgb(81, 238, 61);
    margin: 20px ;
    margin-left: 40%;
    text-align: center;
    border: 3px solid black;
    border-radius: 20%;
    padding: 3% 4%;
    font-size: 15px;
    color: #262727;
}
.butt:hover{
    box-shadow: 0 0 10px 2px black;
}
.ulaline{
    text-align: left;
    display: block; 
    padding-left: 5%;
}
.knowmore{
    color: #205781;
    font-size: 20px;
}
.price{
    color: red;
    font-size: 20px;
}
.trueprice{
    color: green;
    font-size: 20px;
}