* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rokkitt", sans-serif;
}
body {
    /* background-color: #205781; */
    color: #fff;
}
.shop-logo{
    height: 45px;
    vertical-align: bottom;
}
header {
    background-color: #205781;
    color: #F6F8D5;
    font-size: larger;
    padding: 15px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar {
    display: flex;
    align-items: center;
    width: 100%;
}
.logo {
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #F6F8D5;
}
.nav-links {
    list-style: none;
    display: flex;
    flex-grow: 1;
    justify-content: center;
}
.nav-links-text {
    margin: 0 15px;
    text-decoration: none;
    color: #F6F8D5;
    font-weight: bold;
}
.nav-links-text:hover{
    border-bottom: #F6F8D5 2px solid;
}
.search-bar {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
