.sub-navbar {
    background-color: #4F959D;
    overflow: hidden;
    display: flex;
    justify-content:center;
    padding: 10px 0;
}
.sub-navbar a {
    color: #F6F8D5;
    text-decoration: none;
    padding: 14px 20px;
    display: block;
    text-align: center;
}
.sub-navbar a:hover {
    border-bottom: #F6F8D5 2px solid;
}
.womens-h2{
    position: absolute;
    left: 30px; 
    display: grid;
    align-items:center;
    justify-content: start; 
    height: 45px;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #F6F8D5;
  
}
.container {
    display: flex;
    height: 50vh;
    padding-bottom: none;
}

.info {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #f4f4f4;
}

.info h1 {
    font-size: 2rem;
}

.video-container {
    width: 50%;
    position: relative;
}

.video-container iframe {
    width: 80%;
    height: 80%;
    border: none;
}
